.all-products {
  border: 1px solid orangered;
  background-color: $bg-white;
}

.all-products__title {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-family: "Kudryashev", "Arial", sans-serif;
  font-weight: normal;
}

.all-products__subtitle {
  margin: 0;
  font-size: 200px;
  line-height: 150px;
  color: $bg-red;
}