.animation {
  display: none;
  height: 27px;
  background-color: $bg-red;
  background-image: url('/img/strip-line.png');
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: 100s linear infinite strip;
}

@keyframes strip {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 0;
  }
}

@media (min-width: $desktop-width) {
  .animation {
    display: block;
  }
}
