.container {
  // border: 1px solid orangered;
  margin: 0 auto;
  max-width: $tablet-width;
  background-color: $bg-white;
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $max-desktop-width;
  }
}
