.intro {
  margin: 0 40px;
  text-align: center;
  background-color: $bg-red;
}

.intro__title,
.intro__subtitle,
.intro-vertical {
  border: 1px solid orangered;
  font-family: "Kudryashev", "Arial", sans-serif;
  font-weight: normal;
}

.intro__title {
  margin: 0;
  font-size: 70px;
  line-height: 40px;
}

.intro__subtitle {
  margin: 0 -40px;
  font-size: 305px;
  line-height: 230px;
  letter-spacing: -25px;
}

.intro__description {
  margin: 0;
  font-size: 23px;
  line-height: 33px;
}

.intro-vertical {
  font-size: 30px;
  line-height: 30px;
}