.intro {
  margin: 0 40px;
  padding: 50px 0 60px 0;
  text-align: center;
  background-color: $bg-red;
}

.intro__title {
  // border: 1px solid oldlace;
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Kudryashev Display', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 70px;
  line-height: 40px;
}

.intro__subtitle {
  // border: 1px solid oldlace;
  position: relative;
  margin: 0 -20px 70px -40px;
  font-family: 'Kudryashev Display', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 305px;
  line-height: 230px;
  letter-spacing: -15px;
}

.intro__subtitle span {
  // border: 1px solid oldlace;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.intro__description {
  // border: 1px solid oldlace;
  margin: 0;
  padding: 0 60px;
  font-size: 23px;
  line-height: 33px;
}

.intro__subtitle::before {
  // border: 1px solid oldlace;
  content: "Оттенок";
  position: absolute;
  top: 170px;
  left: 330px;
  font-family: 'Kudryashev', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $bg-black;
  transform: rotate(-90deg);
}
