.intro {
  position: relative;
  margin: 0 40px;
  padding: 50px 0 60px 0;
  box-sizing: border-box;
  background-color: $bg-red;
}

.intro--1 {
  background-color: $bg-red;
}

.intro--2 {
  background-color: $bg-white;
}

.intro--3 {
  background-color: $bg-black;
}

.intro__title {
  // border: 1px solid oldlace;
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Kudryashev Display', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 70px;
  line-height: 40px;
  text-align: center;
}

.intro__title--1 {
  color: $bg-white;
}

.intro__title--2 {
  color: $bg-black;
}

.intro__title--3 {
  color: $bg-red;
}

.intro__subtitle {
  // border: 1px solid oldlace;
  margin: 0;
  margin: 0 -40px 0 -40px;
  margin-bottom: 70px;
  font-family: 'Kudryashev Display', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 305px;
  line-height: 230px;
}

.intro__subtitle--1 {
  color: $bg-white;
}

.intro__subtitle--2 {
  color: $bg-red;
}

.intro__subtitle--3 {
  color: $bg-red;
}

.intro__subtitle-hash {
  // border: 1px solid oldlace;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.intro__subtitle-400 {
  // border: 1px solid oldlace;
  position: relative;
  margin-left: -80px;
  letter-spacing: -15px;
}

.intro__shade {
  // border: 1px solid oldlace;
  content: 'Оттенок';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 275px;
  margin-left: 12px;
  font-family: 'Kudryashev', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
  color: $bg-black;
  text-transform: uppercase;
  transform: rotate(-90deg);
}

.intro__shade--1 {
  color: $bg-black;
}

.intro__shade--2 {
  color: $bg-black;
}

.intro__shade--3 {
  color: $bg-white;
}

.intro__description {
  // border: 1px solid oldlace;
  margin: 0;
  padding: 0 60px;
  font-size: 23px;
  line-height: 33px;
}

.intro__description--1 {
  color: $bg-white;
}

.intro__description--2 {
  color: $bg-black;
}

.intro__description--3 {
  color: $bg-white;
}

@media (min-width: $desktop-width) {
  .intro {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px 60px 0 60px;
    width: 620px;
    height: 620px;
  }

  .intro__title {
    margin-bottom: 40px;
    font-size: 90px;
    line-height: 40px;
  }

  .intro__subtitle {
    margin: 0 -300px;
    font-size: 519px;
    line-height: 230px;
    order: 1;
  }

  .intro__subtitle-hash {
    margin-left: 20px;
  }

  .intro__subtitle-400 {
    margin-left: -150px;
    letter-spacing: -25px;
  }

  .intro__shade {
    margin-bottom: 165px;
    margin-left: 2px;
    font-size: 54px;
  }

  .intro__description {
    margin-bottom: 80px;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}
