.model {
  // border: 1px solid orangered;
  position: relative;
  color: $bg-white;
  background-color: $bg-darkred;
}

.model__image {
  // border: 1px solid orangered;
  margin: 0 40px;
}

.model__image img {
  margin-top: -60px;
  z-index: 2;
}

.model__image--brunette img {
  margin-top: -90px;
}

.model__image--red img {
  margin-top: -120px;
}

.model__text-wrap {
  position: relative;
  padding: 20px 20px 0 40px;
}

.model__title {
  // border: 1px solid orangered;
  margin: 0;
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 40px;
  font-family: 'Kudryashev', 'Arial', sans-serif;
  font-weight: 600;
}

.model__description {
  // border: 1px solid orangered;
  margin: 0;
  margin-bottom: 40px;
  font-size: 23px;
  line-height: 33px;
}

.model__gif {
  // border: 1px solid orangered;
  position: relative;
  margin: 0 auto;
  margin-bottom: -70px;
  width: 400px;
}

.model__gif--brunette {
  margin-bottom: -200px;
}

.model__gif::before {
  position: absolute;
  font-family: 'Kudryashev', 'Arial', sans-serif;
  color: $bg-black;
  background-color: $bg-white;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.model__gif--blonde::before {
  content: '#400';
  top: 180px;
  left: -60px;
  padding: 5px 10px;
  font-size: 41px;
  font-weight: 600;
  color: $bg-white;
  background-color: $bg-red;
  transform: rotate(-15deg);
}

.model__gif--brunette::before {
  content: '#400';
  top: 30px;
  left: -90px;
  padding: 5px 10px;
  font-size: 41px;
  font-weight: 600;
  transform: rotate(15deg);
}

.model__gif--red::before {
  content: '#400';
  top: -35px;
  right: -20px;
  padding: 5px 10px;
  font-size: 41px;
  font-weight: 600;
  color: $bg-white;
  background-color: $bg-black;
  transform: rotate(-15deg);
}

@media (min-width: $desktop-width) {
  .model__wrap {
    display: flex;
    justify-content: center;
  }

  .model__image {
    margin: 0;
    width: 660px;
  }

  .model__text-wrap {
    margin: 0;
    margin-left: 100px;
    padding: 0;
    width: 460px;
  }

  .model__title {
    margin-top: 90px;
    margin-bottom: 20px;
  }

  .model__description {
    font-size: 20px;
    line-height: 32px;
  }

  .model__gif {
    position: absolute;
    bottom: -80px;
    left: 0;
    margin: 0;
  }

  .model__gif--brunette {
    bottom: -220px;
    margin: 0;
  }

  .model__gif--brunette::before {
    top: 140px;
    left: 375px;
    transform: rotate(15deg);
  }
}
