.textures {
  border: 1px solid orangered;
  text-align: center;
  font-family: "Kudryashev", "Arial", sans-serif;
  font-weight: normal;
}

.textures__title {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
}

.textures__list {
  margin: 0;
  padding: 0;
  list-style: none;
}