@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/OpenSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSansLight-Italic.woff2') format('woff2'),
    url('../fonts/OpenSansLight-Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Kudryashev';
  src: url('../fonts/Kudryashev-Semibold.woff2') format('woff2'),
    url('../fonts/Kudryashev-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Kudryashev';
  src: url('../fonts/Kudryashev-Regular.woff2') format('woff2'),
    url('../fonts/Kudryashev-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kudryashev Display';
  src: url('../fonts/KudryashevDisplay.woff2') format('woff2'),
    url('../fonts/KudryashevDisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
